* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 600vh; /* scroll length control */
    background: #000;
}

.scroll-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100%;
    height: 100%;
}
