body {
  margin: 0;
  background-color: #000; /* Match your image background */
  height: 500vh; /* Adjust this to make the scroll faster or slower */
}

canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}

.scroll-height {
  height: 500vh;
}
